rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function getRole() {
      // Leemos el rol directamente de la base de datos ya que aún no tenemos Cloud Functions para Claims
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.Rol;
    }

    function isSuperAdmin() {
      return getRole() == "Super Administrador";
    }

    function isAdmin() {
      return getRole() == "Administrador";
    }

    function isActiveUser() {
      let role = getRole();
      return role == "Usuario Activo" || role == "Administrador" || role == "Super Administrador";
    }

    match /services/{serviceId} {
      allow read: if isAuthenticated() && isActiveUser();
      allow create, update, delete: if isAuthenticated() && isSuperAdmin();
    }

    match /appointments/{appointmentId} {
      allow create: if isAuthenticated() && isActiveUser();
      allow read: if isAuthenticated() && isActiveUser();
    }

    match /users/{userId} {
      allow read: if isAuthenticated();
      allow create, update: if request.auth.uid == userId || isSuperAdmin();
    }

    match /userPackages/{packageId} {
      allow read, write: if isAuthenticated();
    }
  }
}
